<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Paul K.A.</title>

    <!-- Global Styles -->
    <link rel="stylesheet" href="/css/Styles.css" asp-append-version="true" />

    <!-- Optional Page-Specific Styles -->
    @RenderSection("Styles", required: false)
</head>

<body>
    <!-- Navigation Bar -->

    <!-- Main Content -->
    <main role="main">
        @RenderBody()
    </main>

    <!-- Optional Scripts Section -->
    @RenderSection("Scripts", required: false)
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate-unobtrusive/3.2.13/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
